@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Medium.eot');
    src: url('~fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Medium.woff2') format('woff2'),
        url('~fonts/Raleway-Medium.woff') format('woff'),
        url('~fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-BlackItalic.eot');
    src: url('~fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('~fonts/Raleway-BlackItalic.woff') format('woff'),
        url('~fonts/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-ThinItalic.eot');
    src: url('~fonts/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('~fonts/Raleway-ThinItalic.woff') format('woff'),
        url('~fonts/Raleway-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Regular.eot');
    src: url('~fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Regular.woff2') format('woff2'),
        url('~fonts/Raleway-Regular.woff') format('woff'),
        url('~fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-BoldItalic.eot');
    src: url('~fonts/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('~fonts/Raleway-BoldItalic.woff') format('woff'),
        url('~fonts/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Thin.eot');
    src: url('~fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Thin.woff2') format('woff2'),
        url('~fonts/Raleway-Thin.woff') format('woff'),
        url('~fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Bold.eot');
    src: url('~fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Bold.woff2') format('woff2'),
        url('~fonts/Raleway-Bold.woff') format('woff'),
        url('~fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-ExtraLightItalic.eot');
    src: url('~fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('~fonts/Raleway-ExtraLightItalic.woff') format('woff'),
        url('~fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-MediumItalic.eot');
    src: url('~fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('~fonts/Raleway-MediumItalic.woff') format('woff'),
        url('~fonts/Raleway-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Italic.eot');
    src: url('~fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Italic.woff2') format('woff2'),
        url('~fonts/Raleway-Italic.woff') format('woff'),
        url('~fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-LightItalic.eot');
    src: url('~fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('~fonts/Raleway-LightItalic.woff') format('woff'),
        url('~fonts/Raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-ExtraLight.eot');
    src: url('~fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('~fonts/Raleway-ExtraLight.woff') format('woff'),
        url('~fonts/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-ExtraBoldItalic.eot');
    src: url('~fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('~fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
        url('~fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Light.eot');
    src: url('~fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Light.woff2') format('woff2'),
        url('~fonts/Raleway-Light.woff') format('woff'),
        url('~fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-SemiBold.eot');
    src: url('~fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('~fonts/Raleway-SemiBold.woff') format('woff'),
        url('~fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-SemiBoldItalic.eot');
    src: url('~fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('~fonts/Raleway-SemiBoldItalic.woff') format('woff'),
        url('~fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-Black.eot');
    src: url('~fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-Black.woff2') format('woff2'),
        url('~fonts/Raleway-Black.woff') format('woff'),
        url('~fonts/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('~fonts/Raleway-ExtraBold.eot');
    src: url('~fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('~fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('~fonts/Raleway-ExtraBold.woff') format('woff'),
        url('~fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'dma';
    src:  url('~fonts/dma.eot?85xogy');
    src:  url('~fonts/dma.eot?85xogy#iefix') format('embedded-opentype'),
      url('~fonts/dma.ttf?85xogy') format('truetype'),
      url('~fonts/dma.woff?85xogy') format('woff'),
      url('~fonts/dma.svg?85xogy#dma') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'dma' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-analize .path1:before {
    content: "\e903";
    color: rgb(255, 255, 255);
  }
  .icon-analize .path2:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(246, 244, 245);
  }
  .icon-analize .path3:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(246, 244, 245);
  }
  .icon-analize .path4:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(250, 250, 252);
  }
  .icon-analize .path5:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(246, 248, 248);
  }
  .icon-analize .path6:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(246, 247, 248);
  }
  .icon-analize .path7:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(247, 248, 249);
  }
  .icon-analize .path8:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(247, 248, 249);
  }
  .icon-analize .path9:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-design .path1:before {
    content: "\e90c";
    color: rgb(245, 245, 246);
  }
  .icon-design .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(241, 242, 244);
  }
  .icon-design .path3:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-design .path4:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(249, 180, 40);
  }
  .icon-design .path5:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(244, 245, 247);
  }
  .icon-design .path6:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(239, 241, 246);
  }
  .icon-design .path7:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(232, 233, 237);
  }
  .icon-design .path8:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(229, 230, 232);
  }
  .icon-design .path9:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(228, 234, 248);
  }
  .icon-design .path10:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(232, 233, 237);
  }
  .icon-design .path11:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(228, 234, 248);
  }
  .icon-design .path12:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(232, 233, 237);
  }
  .icon-design .path13:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-design .path14:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-design .path15:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-design .path16:before {
    content: "\e91b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-design .path17:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-design .path18:before {
    content: "\e91d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-design .path19:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path1:before {
    content: "\e91f";
    color: rgb(255, 198, 9);
  }
  .icon-develop .path2:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-develop .path3:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-develop .path4:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-develop .path5:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-develop .path6:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-develop .path7:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-develop .path8:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-develop .path9:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-develop .path10:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path11:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path12:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path13:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path14:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path15:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path16:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path17:before {
    content: "\e92f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-develop .path18:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-iconmonstr-facebook-11:before {
    content: "\e931";
  }
  .icon-iconmonstr-instagram-111:before {
    content: "\e932";
  }
  .icon-iconmonstr-linkedin-11:before {
    content: "\e933";
  }
  .icon-marketing .path1:before {
    content: "\e934";
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path2:before {
    content: "\e935";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path3:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(6, 0, 0);
  }
  .icon-marketing .path4:before {
    content: "\e937";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path5:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path6:before {
    content: "\e939";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path7:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-marketing .path8:before {
    content: "\e93b";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path9:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path10:before {
    content: "\e93d";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path11:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path12:before {
    content: "\e93f";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path13:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path14:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path15:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path16:before {
    content: "\e943";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path17:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path18:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path19:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path20:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path21:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-marketing .path22:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-strategy .path1:before {
    content: "\e94a";
    color: rgb(251, 248, 247);
  }
  .icon-strategy .path2:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(252, 251, 251);
  }
  .icon-strategy .path3:before {
    content: "\e94c";
    margin-left: -1em;
    color: rgb(248, 246, 245);
  }
  .icon-strategy .path4:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(255, 200, 80);
  }
  .icon-strategy .path5:before {
    content: "\e94e";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-strategy .path6:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(239, 240, 246);
  }
  .icon-strategy .path7:before {
    content: "\e950";
    margin-left: -1em;
    color: rgb(216, 220, 229);
  }
  .icon-strategy .path8:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(112, 116, 135);
  }
  .icon-strategy .path9:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(242, 243, 243);
  }
  .icon-strategy .path10:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(246, 251, 253);
  }
  .icon-strategy .path11:before {
    content: "\e954";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-strategy .path12:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(251, 252, 253);
  }
  .icon-strategy .path13:before {
    content: "\e956";
    margin-left: -1em;
    color: rgb(255, 198, 9);
  }
  .icon-strategy .path14:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path15:before {
    content: "\e958";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path16:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path17:before {
    content: "\e95a";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path18:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path19:before {
    content: "\e95c";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path20:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path21:before {
    content: "\e95e";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path22:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-strategy .path23:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(11, 0, 0);
  }
  .icon-videos:before {
    content: "\e961";
    color: #ffc609;
  }
  .icon-facebook:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-linkedin:before {
    content: "\e902";
  }